<h1 class="container-fluid text-center success">Lista Com Angular</h1>
<table class="table container text-center">
  <thead class="thead-dark">
    <tr>
      <th>Nome</th>
      <th>Registro Geral</th>
      <th>CPF</th>
      <th>Telefone</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>João Maria José</td>
      <td>45.665.749.08</td>
      <td>219.900.345-11</td>
      <td>(11) 98765-4321</td>
    </tr>
    <tr>
      <td>Maria Antônia Loureiro</td>
      <td>54.555.947.05</td>
      <td>019.234.645-25</td>
      <td>(21) 99123-4567</td>
    </tr>
  </tbody>
</table>
